{% extends 'base.html' %} 
{% block title%}
<title> Listagem de Epidemias | Dados Epidemiológicos </title>
{% endblock title%} 

{% block conteudo %}

{% if epidemias|length > 0 %}
    <div>
        <ul class="center">
            {% for epid in epidemias%}
            <li>
                <strong>Doença associada: </strong> {{ epid.doenca_associada }}
                <br>
                <p>{{ epid.data_coleta }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

{% else %}

    <div>
        <h2>Infelizmente não existem epidemias cadastradas...</h2>
    </div>

{% endif %}

{% endblock conteudo %}